<shakey>
  <!-- 日志文件存放路径 -->
  <log_file>${server.home}/log/shakey.log</log_file>
  <ib_account>xxx</ib_account>
  <ib_api_host>localhost</ib_api_host>
  <ib_api_port>4001</ib_api_port>
  <!-- 监控股票列表 -->
  <stocks>BABA,TSM,MPEL,HIMX,SFUN,TSL,JKS,JRJC,JD,BIDU,QIHU,CSIQ,NQ,HPJ,VIMC,YOKU,JASO,CTRP,EDU,VNET,EJ,DANG,CMCM,CHL,VIPS,BITA,KNDI,WUBA,ATHM,SINA,YY,GAME,WB,JMEI,LEJU,QUNR,ASX,XRS,CMGE,SIMO,SPIL,TOUR,MOBI,LITB,TEDU,WX,WBAI,CHU,NTES,HOLI,XNET,GOMO,NOAH,CXDC,PWRD,FENG</stocks>
  <!-- 天量获取的策略,有两种方式
  FiveMinute  从IB实时抓取5分钟数据进行计算
  Day   从sina抓取每天的数据进行计算
  -->
  <volume_strategy>FiveMinute</volume_strategy>
  <!--
  在5分钟计算的时候，取topN的比率
  -->
  <top_percent>0.1618</top_percent>
</shakey>
